<!DOCTYPE html>

<head>
     <title>{{title}}</title>
     <link rel="icon" href="/img/me.png">
</head>
<body>
    <div class="main-content">
{{>header}}

<p> {{message}}</p>
</div>
{{>footer}}    
</body>
</html>