<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <title> {{title}}</title>
    <link rel="icon" href="/img/me.png">
</head>

<body>
   <div class="main-content">
    {{>header}}
    <p>This site was created by a dude. It uses data from mapbox.com and some other free platform.</p>
    <img class="portrait "src="/img/me.png" alt="">
    </div>
    {{>footer}}
</body>
</html>