<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/me.png">
</head>

<body>
    <div class="main-content">
    {{>header}}
    
        
        <p> {{helpText}}</p>
        </div>
        {{>footer}}
</body>
</html>